.post {
    margin-top: 50px;
    margin: auto;
    width: 90%;
    height: 500px;
    display: flex;
}
.text-section {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.image-section {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.image-section img {
    height: 60%;
    object-fit: contain;
}
h2, h4, h5, h6 {
    text-align: left;
}