.post-description {
    justify-content: space-between;
}
.post-1 { grid-area: 1 / 1 / 3 / 2; }
.post-2 { grid-area: 3 / 1 / 5 / 2; }
.post-3 { grid-area: 5 / 1 / 7 / 2; }
.post-4 { grid-area: 1 / 2 / 3 / 3; }
.post-5 { grid-area: 3 / 2 / 5 / 3; }
.post-6 { grid-area: 5 / 2 / 7 / 3; }

img {
    width: 100%;
    object-fit: contain;
}
h3, h4, h5{
    text-align: left;
    margin-top: 10px;
}
h4 {
    color: grey;
    font-size: 20px;
}
h3::first-letter {
    text-transform: uppercase;
}
.selected {
    color: rgb(0, 106, 213);
    font-weight: 700;
}
