.posts-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-auto-flow: column;
}
.pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 500;
}
.prev-page:hover, .page-number:hover, .next-page:hover {
    cursor: pointer;
}