* {
    margin: 0;
}
.tabs {
    display: flex;
    border-bottom: 2px solid gainsboro;
    height: 50px;
}
.tabs__tab {
    font-weight: 500;
    font-size: large;
    width: 12%;
    min-width: 102px;
    height: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
/* .tabs__tab:first-child {
    border-bottom: 3px solid black;
} */
.tabs__tab:hover {
    color: cornflowerblue;
    cursor: pointer;
}
.active-tab {
    color: cornflowerblue;
    border-bottom: 3px solid black;
}